<h3>Your details</h3>

      <i class="fa fa-envelope" aria-hidden="true"></i> <%= current_user.email %> <br>
      <i class="fa fa-phone" aria-hidden="true"></i> <%= current_user.phone_number ? current_user.phone_number : "phone number unspecified" %> <br>
