<div class="container footer-wrapper footer">
  <div class="row">
    <div class="text-center col-sm-offset-4 col-sm-4">
      <ul>
        <li>
          <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
        </li>
        <li>
          <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
        </li>
        <li>
          <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        </li>
        <li>
          <i class="fa fa-2x fa-youtube" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
</div>



